<title> 3d Model stealing </title>
<h2> Artists known to have stolen </h2>
<ul>
<%- ["liu","guamwork","fine3d","bluebird","mostusk","faint3d"].each do |person| -%>
<li><%= link_to "#{person.capitalize}", "artist/#{@artist_to_id[person]}"%> </li>
<%- end -%>
</ul>
